.zoo {
  background-color: steelblue;
  min-width: 100vw;
  min-height: 100vh;
  &_list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    &_animals {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 10px;
      border: 3px solid grey;
      border-radius: 10px;
      margin: 5px;
      &_name {
        color: ghostwhite;
        font-size: 30px;
        text-align: center;
        padding: 0 0 0 0;
      }
      &_type {
        color: yellow;
        font-size: 20px;
        text-align: center;
        padding: 0 0 20px 0;
      }
      &_stats {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        color: paleturquoise;
        font-size: 16px;
        text-align: center;
        padding: 0 0 20px 0;
        width: 100%;
        span {
          i {
            font-size: 14px;
            color: lightcoral;
            font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
              "Lucida Sans", Arial, sans-serif;
          }
        }
      }
    }
  }
  &_form {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background: paleturquoise;
    box-sizing: border-box;
    flex-wrap: wrap;
    padding-bottom: 5px;
    h2 {
      width: 100vw;
      margin-bottom: 0;
      text-align: center;
      font-size: 22px;
      color: lightcoral;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    }
    &_input {
      width: 50vw;
      margin: 10px 0;
      span {
        display: inline-block;
        width: 15%;
        padding: 0 0 0 20px;
        color: white;
      }
      input {
        border: none;
        outline: none;
      }
      button {
        margin-left: 15px;
      }
    }
  }
  &_modal {
    position: absolute;
    left: 10vw;
    // width: 90%;
    top: 0;
    background-color: paleturquoise;
    border: 3px solid white;
    box-shadow: 2px 2px 2px gray;
    .zoo_form_input {
      width: 40vw;
    }
    .zoo_form {
      width: 80vw;
    }
  }
}
