.App {
  text-align: center;
}
.jewelry {
  background-color: steelblue;
  min-width: 100vw;
  min-height: 100vh;
  position: relative;

&_nav {
  height: 100px;
  background-color: lightcoral;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  &_filter {
      font-size: 18px;
      margin: 20px;
      span {
          padding: 0 7px;
          color: white;
      }
  }
  &_reset {
      margin: 10px;
  }
}
}

